body{
	background-color: #f3f3f3;
	font-family: arial;
	margin: auto;
    width: 60%;
    padding: 10px;
}

.container{
	width: 600px;
	background-color: #fff;
	padding: 30px;
}

input{
	padding: 0px 35px;
	width: 200px;
	height: 25px;
	font-size: 16px;
}

button{
   background-color: white;
   border: none;
   color: black;
   padding:10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 12px;
}

button{
   background-color: white;
   color: black;
   border: 2px solid #4CAF50;
}
button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

